# ======================
# Logs and target
# ======================
logs/
target/
build/

# ======================
# Maven Wrapper
# ======================
.mvn/wrapper/maven-wrapper.jar

# ======================
# Spring Boot configuration (sensitive)
# ======================
# Ignore real configuration files with secrets
application.yml
application-*.yml
application.properties
application-*.properties

# ======================
# IDEs
# ======================
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ======================
# Optional: ignore environment files
# ======================
.env
